@font-face {
    font-family: "Hickory Jack";
    src: url(../Fonts/HickoryJack/HickoryJack.ttf);
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../Fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../Fonts/Montserrat/Montserrat-Regular.otf);
}

#header {
    display: block;
    background-image: url(../Images/wood-night-camera-vintage.jpg);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    height: 900px;
    width: 100%;
    margin-bottom: 0;
}

#front-text {
    text-align: center;
    font-size: 120px;
    font-family: "Hickory Jack";
    text-shadow: 2px 2px #000;
    font-style: italic;
}

#Hey {
    text-align: center;
    font-size: 39px;
    font-family: "Hickory Jack";
    font-style: italic;
}

#check-me {
    text-align: center;
    padding: 10px 5px;
    color: white;
    padding-right: 30px;
    font-family: sans-serif;
}

.image_container img {
    display: block;
    max-height: 150px;
    max-width: 150px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-left: 40%;
    margin-right: 60%;
    margin-top: 3%;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.image_container img:hover {
    margin-top: 2px;
}

.image_container {
    height: 490px;
}

.padding {
    padding-top: 40px;
    padding-bottom: 180px;
    padding-left: 140px;
}

.image_container p {
    color: white;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    padding-left: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    padding-right: 48px;
}

#border {
    border: 2px solid white;
    padding: 20px 50px;
    margin-right: 100px;
    background: rgba(0, 0, 0, 0.5);
    background-size: contain;
    padding-left: 80px;
}

.button.big {
    font-size: 20px;
    padding: 0.75em 1.5em 0.75em 1.5em;
    font-weight: 32px;
}

.button {
    -webkit-appearance: none;
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 32px;
    outline: 0;
    margin: 0;
    text-decoration: none;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}

.button:hover {
    background: #555556;
}

.HeadFooter {
    background: rgba(255, 228, 196, 2);
    background-size: cover;
    padding: 42px 42px;
    color: black;
}

.reset-margin {
    margin: 0;
}

.color-white {
    color: #fff;
}

@keyframes downdown {
    0 {
        margin-top: 0;
    }
    50% {
        margin-top: 12px;
    }
    100% {
        margin-top: 0px;
    }
}

.moving-down {
    animation-name: downdown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.frontContainer {
    padding-bottom: 200px;
}

.logo-list li {
    float: left;
    width: auto;
    display: inline-block;
    line-height: 57px;
    padding: 5px;
}

.footerTitle {
    font-family: "Montserrat-Regular";
}


/* About me style */

.about-Text {
    text-align: center;
    font-family: "Montserrat-Regular";
    font-size: 45px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.parag {
    text-align: center;
    font-family: "Roboto-Light";
    font-size: 18px;
    text-decoration: none;
    display: block;
    opacity: 0.8;
    font-weight: 400;
    color: rgb(255, 255, 230);
}

.Head-about {
    background-image: url(../Images/About-me.png);
    background-size: cover;
    height: 750px;
    margin: 0;
}

.p-border {
    border: 2px solid #fff;
    padding: 20px 30px;
    margin-right: 100px;
    background-size: contain;
    padding-left: 80px;
    border-radius: 2%;
}

.p-contain {
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    height: 120px;
    margin-right: 320px;
    margin-left: 320px;
    display: block;
}

.bground {
    background-color: rgb( 248, 244, 244);
}

.top-interest h2 {
    font-family: "Montserrat-Regular";
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    display: block;
    background-color: bisque;
    background-size: cover;
    padding: 42px 42px;
    padding-top: 50px;
    margin: 0;
    overflow: hidden;
}

.f-container {
    margin-top: 30px;
}

.music-container {
    height: 397px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #000;
    background-color: gray;
    background-size: contain;
}

.music-desc {
    margin-right: 160px;
    display: block;
    color: #fff;
    opacity: 0.9;
    font-size: 45px;
    float: left;
    font-family: "Roboto-Light";
}

.p-div {
    float: right;
}

.game-div {
    float: left;
}

.web-div {
    float: right;
}

.photo-div {
    float: left;
}

.game-container {
    height: 397px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #000;
    background-color: #465977;
    background-size: contain;
}

.game-image {
    float: right;
}

.game-desc {
    margin-right: 50px;
    display: block;
    color: #fff;
    opacity: 0.9;
    font-size: 45px;
    font-family: "Roboto-Light";
}

.Web-des-container {
    height: 397px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #000;
    background-color: #916f54;
    background-size: contain;
}

.web-desc {
    margin-left: 50px;
    display: block;
    color: #fff;
    opacity: 0.9;
    font-size: 45px;
    font-family: "Roboto-Light";
}

.Web-image {
    float: left;
}

.Photography-container {
    height: 397px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #000;
    background-color: #3e8765;
    background-size: contain;
}

.photo-image {
    float: right;
}

.photo-desc {
    margin-right: 50px;
    display: block;
    color: #fff;
    opacity: 0.9;
    font-size: 45px;
    font-family: "Roboto-Light";
}

.Movie-container {
    height: 397px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    border: 0px solid #000;
    background-color: #8c2c2c;
    background-size: contain;
}

.movie-image {
    float: left;
}

.movie-desc {
    margin-left: 50px;
    display: block;
    color: #fff;
    opacity: 0.9;
    font-size: 45px;
    font-family: "Roboto-Light";
}

.movie-div {
    float: right;
}

.list li {
    float: left;
    display: inline-block;
    line-height: 57px;
    padding-right: 100px;
}

.list img {
    height: 64px;
    background-color: #8c2c2c;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.list {
    margin-left: 420px;
}

.list img:hover {
    background: #fff;
}

.image-front img{
    border-radius: 50%;
    height: 100px;
    display: block;
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2.5px solid #fff;
    
}