@font-face {
    font-family: "Roboto-Light";
    src: url("../Fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../Fonts/Montserrat/Montserrat-Regular.otf);
}

.container {
    position: relative;
    float: left;
    height: 100px;
    margin-left: 40px;
    margin-right: 55px;
}

.h-image {
    display: block;
    width: 90;
    height: 90;
}


.h-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 90;
    height: 0;
    transition: .5s ease;
}

.container:hover .h-overlay {
    height: 90;
}

.h-text {
    white-space: nowrap;
    color: #000;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.p-text {
    white-space: nowrap;
    color: #000;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.p-container:hover .h-overlay {
    height: 110px;
}

.p-container {
    position: relative;
    float: left;
    height: 110px;
    margin-left: 40px;
    margin-right: 55px;
}

.w-text {
    white-space: nowrap;
    color: #000;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.w-container:hover .h-overlay {
    height: 110px;
}

.w-container {
    position: relative;
    float: left;
    height: 110px;
    margin-left: 40px;
    margin-right: 55px;
}

.t-text {
    white-space: nowrap;
    color: #000;
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.t-container:hover .h-overlay {
    height: 110px;
    width: 93px;
}

.t-container {
    position: relative;
    float: left;
    height: 110px;
    margin-left: 40px;
    margin-right: 55px;
}

.j-text {
    white-space: nowrap;
    color: #000;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.j-container:hover .h-overlay {
    height: 110px;
}

.j-container {
    position: relative;
    float: left;
    height: 110px;
    margin-left: 40px;
    margin-right: 55px;
}

.font-style{
    font-family: "Roboto-Light";
}

.myskills-div h2 {
    font-family: "Montserrat-Regular";
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: 300;
    display: block;
    background-color: bisque;
    background-size: cover;
    padding: 42px 42px;
    padding-top: 50px;
    margin: 0;
    overflow: hidden;
}
.myskills-container {
    margin-left: 100px;
   
}

#m-border{
    border: 2.8px solid #000;
    padding-bottom: 125px;
    padding-top: 50px;
    padding-left: 100px;
    margin: 0;
    
}

.college{
    margin-top: 20px;
    text-align: center;
    margin: 0;
    float left;
    height: 250px;
}
#c-border{
    border: 5px solid #000;
}