@font-face{
    font-family: youngimport, bikoimport, existenceimport;
    
    src:url("Young.ttf"),
        url("Young italic.ttf");
    src:url("Biko_Black.otf"),
        url("Biko_Bold.otf"),
        url("Biko_Light-Restricted.otf"),
        url("Biko_Regular.otf");
    src:url("Existence-Light.otf"),
        url("Existence-Light.ttf"),
        url("Existence-StencilLight.otf")
        url("Existence-UnicaseLight.otf");
}

#header {
    
    
    display: block;
    background-image: url(Images/wood-night-camera-vintage.jpg);
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
    width: 100%
}






h1 {
    text-align: center;
    padding: 10px 20px;
    

}



img {
   
    margin-right: 50%;
    display: block;
    margin: auto;
    max-height: 290px;
    max-width: 290px;
    width: 290px;
    height: 290px;
    
}







