#header, li, h2{
    
    text-align: center;
    background-color: aqua;
    text-align: center;
    display: block;
    font-family: young, sans-serif;
    
}


body{
    
    background-color: #f4f4f4;
}


img {
    border-radius: 50%;
    margin-right: 50%;
    display: block;
    margin: auto;
    max-height: 290px;
    max-width: 290px;
    width: 290px;
    height: 290px;
    
}



h2 {
    text-align: center;
    padding: 10px 20px;
    font-family: sans-serif;
}

