@font-face{
    font-family: youngimport, bikoimport, existenceimport;
    
    src:url("Young.ttf"),
        url("Young italic.ttf");
    src:url("Biko_Black.otf"),
        url("Biko_Bold.otf"),
        url("Biko_Light-Restricted.otf"),
        url("Biko_Regular.otf");
    src:url("Existence-Light.otf"),
        url("Existence-Light.ttf"),
        url("Existence-StencilLight.otf")
        url("Existence-UnicaseLight.otf");
}

#header, li, h2{
    
    text-align: center;
    background-color: aqua;
    background-size: 80px 60x;
    text-align: center;
    display: block;
    font-family: 'Biko_Bold';
    
    
}


body{
    
    background-color: #f4f4f4;
}


img {
    border-radius: 50%;
    margin-right: 50%;
    display: block;
    margin: auto;
    max-height: 290px;
    max-width: 290px;
    width: 290px;
    height: 290px;
    
}



h1 {
    text-align: center;
    padding: 10px 20px;
    

}

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5 ease;
    backface-visibility: hidden;
    
}

.middle{
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container:hover .image{
    opacity: 0.3;
}

.container:hover .middle{
    opacity: 1;
}

.text {
    background-color: transparent;
    color:white;
    font-size: 16px;
    padding: 16px 32px;
}





